#-----------------------------*- codeowners -*--------------------------------#
# CELERITAS PROJECT CODEOWNERS
# See discussion in /doc/development/administration.rst .
# Note that later lines take precedence over earlier ones.
#-----------------------------------------------------------------------------#

#-------------------------------------#
# Topics
#-------------------------------------#

# Administration
/.github/CODEOWNERS @celeritas-project/code-lead @celeritas-project/core-advisor
/scripts/release/users.json @celeritas-project/code-lead
/doc/development/administration.rst @celeritas-project/code-lead @celeritas-project/core-advisor

# CI Infrastructure
/.github/ @sethrj @pcanal
/cmake/ @sethrj @pcanal
/scripts/ci/ @sethrj @pcanal
/scripts/docker/interactive @esseivaju

# Input definitions
/*/*/inp/ @sethrj

# Core capabilities
/*/corecel/ @sethrj
/*/corecel/random/**/Xorwow* @amandalund
/*/corecel/random/**/Ranlux* @davidsgr @sethrj
/*/corecel/sys/ @esseivaju

# Physics
/*/celeritas/decay/ @amandalund @stognini
/*/celeritas/em/ @amandalund @stognini @whokion
/*/celeritas/field/ @sethrj @whokion
/*/celeritas/neutron/ @whokion
/*/celeritas/optical/ @amandalund @hhollenb @whokion
/*/celeritas/phys/ @sethrj @amandalund
/*/celeritas/track/ @amandalund @esseivaju @LSchwiebert

# Geometry
/*/orange/ @elliottbiondo @sethrj
/*/geocel/vg/ @mrguilima @sethrj

# Integration
/*/celeritas/g4/ @drbenmorgan @stognini
/*/celeritas/ext/ @drbenmorgan @stognini
/*/accel/ @drbenmorgan @esseivaju @rahmans1 @Rashika-Gupta @sethrj @stognini @whokion
