# Globs for anywhere
*.cache
*.pyc
*.swp
*.temp.org.xml
*~
.nfs*

# Specific filenames anywhere
cmake_install.cmake
compile_commands.json
Testing
.DS_Store
.idea

# Globs in specific places
/build*
/example/*/.clangd
/install*
/spack-build*

# Specific files in the top level
/.clangd
/.vscode
/CMakeCache.txt
/CMakeFiles
/CMakeUserPresets.json
/scripts/cmake-presets/mac147429.json
/spack.yaml
